
<%= link_to"MYSELF",user_path(@user)%>
<%= link_to "変更", edit_user_path(@user) %>
<h1>MUSCLEユーザー</h1>
<table class="table">
	<thead>
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user|%>
		<tr>
			<td><%= attachment_image_tag user, :user_image,:fill, 200,200, fallback: "no_image.jpg", size:'200x200' %></td>
			<td><%=link_to "詳細",user_path(user.id)%></td>
			<td><%= user.name%></td>
			<td><%#=@muscle.count%></td>
		</tr>
		<%end%>
	</tbody>
</table>

