<h1>筋肉ユーザーMYSELF</h1>
<%= attachment_image_tag @user, :user_image,:fill, 100,100, fallback: "no_image.jpg" %>
<%= current_user.name %>


<h1>筋肉ユーザー投稿一覧</h1>
<% @muscles.each do |muscle| %>
<%= attachment_image_tag muscle,:image,:fill, 300,300 %>
<%= muscle.title%>
<%= muscle.body%>
<% end %>