<div class="container">
<div class="row">
<div class="col-md-4 col-md-offset-4">
    <% if @muscle.errors.any? %>
    <p><%= @muscle.errors.count %>errors prohibited this obj from being saved:</p>
    <% @muscle.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>

<h3>筋肉ユーザー編集</h3>
<%= form_for(@muscle)do |f| %>
<h1>タイトル</h1>
<%= f.text_field :title %>
<h1>内容</h1>
<%= f.text_area :body %>
<h1>画像</h1>
<%= f.attachment_field :image %>
<h1>ジャンル</h1>
<%= f.select :muscle_genre,(Muscle::GENRES), include_blank: "選択して下さい"%>
<%= f.submit '投稿保存' ,class:"label-warning"%>
<% end %>
</div>
</div>
</div>
