<% # ヒント的な？ %>
<%=link_to'筋肉ユーザー新規投稿' ,new_muscle_path()%>


<%= attachment_image_tag @user, :user_image,:fill, 200,200, fallback: "no_image.jpg" %>
<h3>MUSCLEユーザー投稿一覧</h3>
<% @muscles.each do |muscle| %>
<%=muscle.title%>
<%=muscle.body%>
<%= attachment_image_tag muscle,:image,:fill, 100,100 %>
<%end%>


<%=current_user.name%>

