<div class="container">
<div class="row">
	<div class="col-xs-2">

 			<%=link_to'筋肉ユーザー新規投稿' ,new_muscle_path%>
 			<h5><%=current_user.name%></h5>
 		<div class="rounded-circle">
 	     <%= attachment_image_tag @user, :user_image,:fill, 100,100, fallback: "no_image.jpg"%>
 	       <h5><%=link_to"全て", muscles_path%></h5>
 		</div>
			<!-- muscleモデルからの定義(Enum)(GENRESの定義) -->
			<% Muscle::GENRES.each do |genre|%>
			<h5><%= link_to genre, muscles_path(genre: genre) %></h5>
			<%end%>
	</div>
 			<div class="col-xs-10">
 				<h3>投稿一覧</h3>

 				<% @muscles.each do |muscle| %>
 				<h2><%=link_to muscle.body,muscle_path(muscle)%></h2>
 				<%=link_to muscle_path(muscle) do %>
 				<%= attachment_image_tag muscle,:image,:fill, 700,500 %>
 				<%end%>
 				<%#= attachment_video_tag muscle.user(video: "100x100>") %>
 				<table>
 					<tr>
 						<td><%#=attachment_video_tag muscle.user, :video, :fill, 80, 80 %></td>
 					</tr>
 					
 						<tr>	
 							<td><%=link_to user_path(muscle.user) do %>
 								<%= attachment_image_tag muscle.user, :user_image, :fill, 80, 80, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
 							<% end %>
 							</td>

 						</tr>
 						<tr>
 							<td><%=link_to muscle.body,muscle_path(muscle)%></td>
 						</tr>
 						<tr>
 							<td><%= muscle.muscle_genre%></td>
 						</tr>
 									
 						<td><%=link_to muscle_path(muscle) do %>
 							<span class="glyphicon glyphicon-edit" ></span></td>
 						<td>コメント数<%= muscle.muscle_comments.count %>
 							<%end%>
 							<td>
 					</table>
 					<!--favorited_by?メソッドで判定しています-->
 					<% if muscle.favorited_by?(current_user) %>
 					<% @favorite =current_user.favorites.where(muscle_id:muscle.id).first %>
 					<%= link_to muscle_favorite_path(muscle.id,@favorite.id), method: :delete do %>
 					<%= muscle.favorites.count%>いいね
 					<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>

 					<!-- いいねしてたら上 -->

 					<% end %>
 					<% else %>
 					<%= link_to muscle_favorites_path(muscle), method: :post do %>
 					<%= muscle.favorites.count %>いいね
 					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
 					<!-- いいねしてなかったら上 -->
 					<% end %>
 					<% end %>

 					<%= muscle.title%>
 					<%= muscle.user.name %>
 					
 				<%end%>
 			</div>
 		</div>
</div>
</div>



