 <div class="container">
     <div class="row">
 <div class="col-xs-2">
<%=link_to'筋肉ユーザー新規投稿' ,new_muscle_path()%>
<%=current_user.name%>
<div class="rounded-circle">
<%= attachment_image_tag @user, :user_image,:fill, 100,100, fallback: "no_image.jpg"%>
</div>
</div>
<div class="col-xs-10">
<h3>投稿一覧</h3>
<% @muscles.each do |muscle| %>

<%=link_to user_path(muscle.user) do %>
<%= attachment_image_tag muscle,:image,:fill, 600,500 %>
<% end %>
 <%= attachment_image_tag muscle.user, :user_image, :fill, 60, 60, fallback: "no_image.jpg", class: "img-circle pull-left profile-thumb" %>
<%=link_to muscle.body,muscle_path(muscle)%>

<!--自分（ログインしているユーザ）が含まれているかをfavorited_by?メソッドで判定しています-->
<% if @muscles.favorited_by?(current_user) %>

<%= link_to muscle_favorites_path(@muscles),method: :delete do %>
<%=@muscles.favorites.count%>いいね
<% end %>

<%= link_to muscle_favorites_path(@muscles),method: :post do %>
<%=@muscles.favorites.count%>いいね
<% end %>

<% end %>

 <%= muscle.title%>
<%= muscle.user.name %>
<% end %>
</div>
</div>
</div>



