


<h3>筋肉ユーザー投稿一覧</h3>
 <% @muscles.each do |muscle| %>
<%=muscle.title%>
<%=muscle.body%>
 <%= attachment_image_tag muscle,:image,:fill, 400,300, fallback: "no_image.jpg" %>
<%end%>
<%=current_user.name%>

<%=link_to'筋肉ユーザー投稿' ,edit_muscle_path(@user)%>