<h1>詳細投稿</h1>
<%=link_to user_path(@muscle.user.id)do %>
<%= attachment_image_tag @muscle,:image,:fill, 400,300, fallback: "no_image.jpg" %>
<% end %>
<%=@muscle.title%>
<%=@muscle.body%>
<% if current_user.id == @muscle.user_id %>
<%=link_to"消す",muscle_path(@muscle.id), method: :delete, data: { confirm: '本当に消しますか？' } %>
<%=link_to'編集' ,edit_muscle_path(@muscle.id)%>

<%=@muscle.user.name%>

<% @muscle.muscle_comments.each do |muscle_comment| %>
<%= muscle_comment.user.name%>
<%= muscle_comment.comment%>
<%= muscle_comment.created_at.strftime('%Y/%m/%d') %>
<%= muscle_comment.comment %>
<%#=link_to '消す',muscle_comment_path(muscle_comment),method: :delete %>
<%end%>

<%= form_for [@muscle, @muscle_comments] do |f| %>
<%= f.text_field :comment, rows:'5' %>
<%=f.submit%>

<% end %>
<% end %>