<!DOCTYPE html>
<html>
<head>
  <title>MUSCLE</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="container">
      <h2 class="text-danger"><%=image_tag "no_image.jpg", alt: "Rails icon", id: "pic1", class: "image",width:"100px" %>
        筋肉マッスル<%=image_tag "fax.jpg", alt: "Rails icon", id: "pic1", class: "image",width:"100px" %></h2>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <!-- js/skippr.min.js記載してる -->
          <!-- <img id="randomSho"> -->
          <!-- ⬆︎画像 -->
          <li><h3 class="text-warning">ようこそMUSCLE<%= current_user.name %>さん</h3><li>
            <!-- js/skippr.min.js記載してる -->
            <!-- <img id="randomShow"> -->
            <!-- ⬆︎画像 -->
            <li><h2><%=link_to"投稿一覧", muscles_path ,class:"label label-success"%></h2></li>
            <li><h2><%= link_to "筋肉USER一覧" ,users_path ,class:"label label-success"%></h2></li>
            <li><h2><%= link_to 'フォロワー',followers_list_path(current_user) ,class:"label label-info"%></h2><li>
              <li><h2><%=link_to"フォロー",follows_list_path(current_user) ,class:"label label-primary"%></h2></li>
              <li><h2><%= link_to 'ログアウト', destroy_user_session_path, method: :delete ,class:"label label-danger"%></h2></li>

              <% else %>
              <li><%= link_to "ホームページ" ,root_path,class:"btn btn-warning"%></li>
              <li><%= link_to "ログイン" ,new_user_session_path ,class:"btn btn-primary"%></li>
              <li><%= link_to "サインアップ" ,new_user_registration_path ,class:"btn btn-success"%></li>
              <% end %>
            </ul>
          </nav>

        </header>
        <%= yield %>
      </body>
      </html>
